.list {
  display: flex;
  flex-flow: column;
  padding: spacer1 2em 0 spacer1;
  overflow: auto;
  background-color: solight;
  margin-top: 2rem;
  height: 37rem;
}

.header {
  background-color: white;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.3em;
  padding: 3rem;
  text-align: center;
}

.img {
  grid-area: img;
  border-radius: 50%;
}

.container {
  composes: container from "../../styles/layouts.module.css";
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
