.list {
  display: flex;
  flex-flow: column;
  padding: spacer1 2em 0 spacer1;
  overflow: auto;
  background-color: solight;
  height: 40rem;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.12);
}

.header {
  background-color: white;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.3em;
  padding: 3rem;
  text-align: center;
}

.img {
  grid-area: img;
  border-radius: 50%;
}

.container {
  composes: container from "../../styles/layouts.module.css";
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
