.video {
  width: 70rem;
  height: 60rem; 
}

.container__video {
  height: 60.1rem;
  width: 130rem;
  margin-top: 5rem;
  margin: 0 auto;
  padding: 10rem 10rem 0;
}

.video__content {
  display: flex;
  height: 60rem;
  margin-top: -14rem;
}

.content__palmboom {
  margin-left: -41rem;
  margin-top: 2rem;
  width: 50.7rem;
  height: 85.4rem;
}

.content__palmboom2 {
  margin-left: -31rem;
  width: 48.7rem;
  height: 85.4rem;
  margin-top: -4rem;
}

@value tokens: "../../styles/tokens.module.css";
@value fontTitel, spacer1 from tokens;

.procesbar {
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: center;
  margin-bottom: 10rem;
  width: 126rem;
}

.procesbar__item{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.procesbar__item1{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/img/procesbar_active.png');
  background-repeat: no-repeat; 
  height: 8.7rem;
  width: 7.5rem;
}

.item__text{
  composes: regular from "../../styles/typo.module.css";
  text-transform: uppercase;
}


.item__number{
  font-family: 'luna';
  margin-bottom: 1.5rem;
}

.procesbar_lijn1{
  display: flex;
}

.procesbar_lijn1::after {
  content: url('../../assets/img/procesbar_lijn1.png');
  width: 9rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2.2rem
}

.procesbar_lijn2{
  display: flex;
}

.procesbar_lijn2::after {
  content: url('../../assets/img/procesbar_lijn2.png');
  width: 9rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.procesbar_lijn3{
  display: flex;
}

.procesbar_lijn3::after {
  content: url('../../assets/img/procesbar_lijn3.png');
  width: 9rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.procesbar_lijn4{
  display: flex;
}

.procesbar_lijn4::after {
  content: url('../../assets/img/procesbar_lijn4.png');
  width: 9rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.hidden{
  display: none;
}

.vraag{
  composes: semibold from "../../styles/typo.module.css";
  font-size: fontTitel;
  margin-top: spacer1;
  display: flex;
  justify-content: center;
}

.next{
  composes: next from "../../styles/layouts.module.css";
  border: none;
  color: grey;
  display: flex;
  margin: 11.6rem 0 0rem 101.6rem;
}

.next__text {
  composes: next__text from "../../styles/layouts.module.css";
}


.next__text::after {
    content: "";
    background-image: url('../../assets/img/button__line.png');
    width: 30vw;
    height: 15vh;
    background-position: 13rem 1.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}

.next__active {
  composes: next from "../../styles/layouts.module.css";
  border: none;
  background-color:  #FFDC61;
  display: flex;
  margin: 11.6rem 0 0rem 101.6rem;
}

.next2{
  composes: next from "../../styles/layouts.module.css";
  border: none;
  color: grey;
  display: flex;
  margin: 5.6rem 0 0rem 101.6rem;
}

.next__text2 {
  composes: next__text from "../../styles/layouts.module.css";
}


.next__text2::after {
    content: "";
    background-image: url('../../assets/img/button__line.png');
    width: 30vw;
    height: 15vh;
    background-position: 13rem 1.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}

.next__active2 {
  composes: next from "../../styles/layouts.module.css";
  border: none;
  background-color:  #FFDC61;
  display: flex;
  margin: 5.6rem 0 0rem 101.6rem;
}

.back{
  composes: back from "../../styles/layouts.module.css";
  border: none;
  color: grey;
  z-index: 100;
}

.back__text {
  composes: back__text from "../../styles/layouts.module.css";
}

.back__text::after {
    content: "";
    background-image: url('../../assets/img/button__circle.png');
    width: 15vw;
    height: 15vh;
    background-position: 11rem 3.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}
  
.vraag{
  composes: semibold from "../../styles/typo.module.css";
  font-size: fontTitel;
  margin-top: spacer1;
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  justify-content: space-around;
  width: 126rem;
  margin-left: 1.58rem;
}

.content_sound {
  margin-top: -65rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sound {
  border-radius: 5rem;
  margin-bottom: 2rem;
}

.start {
  background-image: url('../../assets/img/start.png');
  margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.8rem;
    height: 7.8rem;
    background-color: geel;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 4.5rem;
    z-index: -2;
    border: none;
}

.stop {
  background-image: url('../../assets/img/stop.png');
  margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.8rem;
    height: 7.8rem;
    background-color: geel;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 2rem;
    z-index: -2;
    border: none;
    margin-bottom: 2rem;
}


