@value tokens: "../../styles/tokens.module.css";
@value background, spacer1, notblack from tokens;

.header {
  background-color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.title {
  composes: title1 from "../../styles/typo.module.css";
  text-transform: capitalize;
  color: notblack;
  text-transform: uppercase;
}
