.header{
display: flex;
flex-flow: column;
align-items: center;
justify-content: space-around;
}

.vraag{
  composes: semibold from "../../styles/typo.module.css";
  font-size: fontTitel;
  margin-top: spacer1;
  display: flex;
  justify-content: center;
}

.next__active {
  composes: next from "../../styles/layouts.module.css";
  border: none;
  background-color:  #FFDC61;
  display: flex;
  z-index: 1000;
  margin: 0 auto 0
}

.next__text {
  composes: next__text from "../../styles/layouts.module.css";
}

.container__audio {
  width: 70%;
}


.next__text::after {
    content: "";
    background-image: url('../../assets/img/button__line.png');
    width: 30vw;
    height: 15vh;
    background-position: 13rem 1.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}

