
@value tokens: "../../styles/tokens.module.css";
@value fontTitel, fontSubtitel, spacer1 from tokens; 

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 60rem;
}

.vraag{
  composes: semibold from "../../styles/typo.module.css";
  font-size: fontTitel;
  margin-top: spacer1;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.next__active {
  composes: next from "../../styles/layouts.module.css";
  border: none;
  background-color:  #FFDC61;
  display: flex;
  z-index: 1000;
  margin: 9.3rem auto 0
}

.next__text {
  composes: next__text from "../../styles/layouts.module.css";
}

.container__audio {
  width: 80%;
}


.next__text::after {
    content: "";
    background-image: url('../../assets/img/button__line.png');
    width: 30vw;
    height: 15vh;
    background-position: 13rem 1.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}

