@value tokens: "../../styles/tokens.module.css";
@value spacer1 from tokens;

.img {
  border-radius: 50%;
}

.list {
  border-bottom: 0.2rem solid white;
}

.list__link {
  display: flex;
  display: grid;
  color: black;
  grid-template-columns: 1fr 2fr 0.5fr;
  width: 100vw;
  font-size: 1.8rem;
  align-items: center;
  margin: 2rem;
}

