@value tokens: "../../styles/tokens.module.css";
@value spacer1 from tokens;

.user {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  grid-template-areas: "img user";
  width: 100%;
  font-weight: bold;
}

.img {
  border-radius: 50%;
}

