
@value tokens: "./tokens.module.css";
@value fontTitel, spacer1 , geel from tokens;

.button__text{
    display: flex;
    justify-content: center;
    color: black;
    width: 30rem;
    align-items: center;
    composes: medium from "./typo.module.css";
    font-size: fontButton;
  }
  
  .button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 7rem;
    background-color: geel;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 4.5rem;
    z-index: -2;
    
  }
  
  .button__text::after {
    content: "";
    background-image: url('../assets/img/button__line.png');
    width: 30vw;
    height: 15vh;
    background-position: 9rem 1.5rem;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
  }

  .next__text{
    display: flex;
    justify-content: center;
    color: black;
    width: 30rem;
    align-items: center;
    composes: medium from "./typo.module.css";
    font-size: fontButton;
  }

  .back__text{
    display: flex;
    justify-content: center;
    color: black;
    width: 7rem;
    align-items: center;
    composes: medium from "./typo.module.css";
    font-size: 3rem;
  }
  
  .next {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 4.5rem;
    z-index: -2;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 4.5rem;
    z-index: -2;
  }

  .vraag{
    composes: semibold from "./typo.module.css";
    font-size: fontTitel;
    margin-top: spacer1;
    display: flex;
    justify-content: center;
  }


  .error {
    display: block;
    color: red;
    font-size: 3rem;
    font-weight: 600;
    height: 3.4rem;
    margin: 4rem auto -5rem;
    text-align: center;
  }

  .error__input{
    display: block;
    color: red;
    font-weight: 600;
    height: 3.4rem;
    margin: 4rem auto -5rem;
    text-align: center;
  }

  .container {
    width: 100vw;
    background-image: url(../assets/img/textures.png);
    background-color: geel;
    margin-top: -6.5rem;
    background-blend-mode: screen;
    height: 100vh;
    overflow: scroll;
  }