.land {
	fill: #F6F9FF;
	fill-opacity: 1;
	stroke:darkgray;
	stroke-opacity: 1;
	stroke-width:0.75;
	transition: 0.1s;
}

.land:hover {
	fill: #FFAD65;
}

.selected {
	fill: yellow;
}

.svg {
	fill: lightblue;
}

.container {
	composes: container from "../../styles/layouts.module.css";
}

.wrap {
	width: 100vw; 
	height: 53rem;
}