.land {
	fill: #F6F9FF;
	fill-opacity: 1;
	stroke:darkgray;
	stroke-opacity: 1;
	stroke-width:0.75;
	transition: 0.1s;
}

.land:hover {
	fill: #FFAD65;
}

.selected {
	fill: yellow;
}

.svg__card {
	width: 101.6rem;
	height: 80.6rem;
}

.svg {
	fill: lightblue;
	width: 101.6rem;
	height: 80.6rem;
}

.container {
	composes: container from "../../styles/layouts.module.css";
	display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
	width: 100%;
	height: 100%;
}

.hidden {
 display: none;
}



