@value tokens: "../../styles/tokens.module.css";
@value background, spacer1, notblack from tokens;

.header {
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2rem;
  font-family: raleway;
  font-style: normal;
  font-weight: 500;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.title {
  composes: title1 from "../../styles/typo.module.css";
  text-transform: capitalize;
  color: notblack;
  text-transform: uppercase;
  text-align: center;
  overflow: visible;
  font-size: 2rem;
}


.subtitle {
  composes: title1 from "../../styles/typo.module.css";
  text-transform: none;
  color: notblack;
  text-align: center;
  overflow: visible;
  font-size: 1.8rem;
}

.back{
  border: none;
  background-color:transparent;
  font-size: 2.5rem;
}
