@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, fontSubtitel, darkPrimary, solight, spacer1, spacer2 from tokens;

.container {
  composes: container from "../../styles/layouts.module.css";
}

.form__wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 95%;
}

.form__input {
  width: 3rem;
}

a.textlink,
a.textlink:link,
a.textlink:visited,
a.textlink:active {
  text-align: center;
  color: colorPrimary;
  margin-bottom: spacer2;
}
a.textlink:hover {
  color: darkPrimary;
}
.wrapper {
  composes: container from "../../styles/layouts.module.css";
  display: flex;
  flex-flow: column;
}
.form {
  /* composes: column from "../../styles/layouts.module.css"; */
  display: grid;
  grid-auto-rows: max-content;
  margin: 3rem auto 0;

}
.button{
  composes: buttonApp from "../../styles/components.module.css";
  margin: spacer1 auto;
}

.title {
  background-color: oranje;
  text-transform: uppercase;   
}

.form__titel {
  margin-bottom: 1rem;
  font-size: fontSubtitel;
}

