.container {
    composes: container from "../../styles/layouts.module.css";
  }

  .container__scan {
    max-width: 55.7rem;
    margin: 30% auto;
    display: flex;
    flex-flow: column;
}

  .hidden {
    display: none;
}